@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(145, 110, 88);
}

.d-block {
    margin-left: 270px;
    height: 250px;
    width: 300px;
}

.ddd-block {
    margin-left: 270px;
    height: 250px;
    width: 270px;
}


.carousel-item {
    padding-left: 260px;
}

.muitoloko {
    margin-left: 70px;
}


a:hover {
    color: grey;
}

.dd-block {
    height: 500px;
    width: 800px;
}

.ImgSobre{
    height: 400px;
    width: 650px;
}

.ImgSobre2{
    height: 300px;
    width: 300px;
}

.corTexto {
    color: white;
}

.nav-link {
    font-size: 20px
}

.BtnInicio1{
    margin-top: -100px;
}

.BtnInicio2{
    margin-left: 140px;
}

.BtnInicio3{
    margin-top: -170px;
    margin-bottom: 100px;
}

.BtnInicio4{
    margin-left: 320px;
}

.BtnInicio5{
    margin-left: 200px;
}


/************Footer***********/

footer {
    position: absolute;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media(max-width:768px) {
    .footer-content {
        width: 100%;
    }
}

.socials {
    margin-right: 1200px;
}

.logo1 {
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
}

.mapa {
    margin-left: 200px;
    margin-top: 50px;
}

.navb{
    margin-bottom: -50px;
    margin-right: 1170px;
}

/*********logo nave bar*********/

.logo {
    width: 50px;
    height: 50px;
}

.titulo {
    margin-top: 100px;
    margin-left: 450px;
    font-size: 80px;
    color: #f1f1f1;
}

.span {
    color: red;
}

.container{
    display: flex;
    flex-direction: row;
}

.mapa1{
    margin-top: 55px;
    margin-left: -50px;
    font-size: 20px;
}
.end{
    margin-bottom: 10px;
}
.end:hover{
    color: #f1f1f1;
}
.titulo {
    justify-content: center;
    margin-right: 60px;
}

.ppp {
    justify-content: center;
    text-align: center;
}